<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Main</title>
  <div th:replace="~{parts/common::common}"></div>
</head>
<body>
<div th:replace="~{parts/navbar::navbar}"></div>

<div class="container mt-2">

  <div class="form-row">
    <div class="form-group col-m-6">
      <form method="get" th:action="@{/main}" class="form-inline">
        <input type="text" name="filter" th:value="${filter}" class="form-control" placeholder="Search by tag">
        <button class="btn btn-primary m-2" type="submit">Search</button>
      </form>
    </div>
  </div>

  <div th:replace="~{parts/messageEdit::messageEdit(action=@{/main})}"></div>

  <div th:replace="~{parts/messageList::messageList}"></div>


</div>


<div th:replace="~{parts/common::links}"></div>
</body>
</html>