<th:block th:fragment="messageEdit(action)">
    <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Message Editor
    </a>
    <div th:class="'collapse ' + (${message}?'show')" id="collapseExample">
        <div class="form-group m-3">
            <form method="post" th:action="${action}" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" th:class="'form-control ' + (${textError}?'is-invalid':'')"
                           th:value="${message}?${message.text}" name="text" placeholder="Введіть повідомлення" />
                    <div class="invalid-feedback" th:if="${textError}" th:text="${textError}"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control"
                           th:value="${message}?${message.tag}" name="tag" placeholder="Тег"/>
                    <div class="invalid-feedback" th:if="${tagError}" th:text="${tagError}"/>
                </div>

                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" name="file" id="customFile" class="form-control">
                        <label class="form-label" for="customFile"></label>
                    </div>
                </div>

                <input type="hidden" name="id" th:value="${message}?${message.id}"/>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save message</button>
                </div>

            </form>
        </div>
    </div>
</th:block>